{% extends 'account/base.html' %}
{% load static %}


<body>


    {% block body %}


    <div class="container">

        <h1>ブログ記事ページ</h1>
        <hr>

        <form action="{% url 'post-create' %}">
            <button type="submit" class="btn btn-primary slide">NEW POST<i class="fa fa-caret-right"></i> </button>
        </form>
        <p>※投稿にはログインが必要です</p>

        {% for post in posts %}
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></li>
            <li class="list-group-item">{{ post.author }}</li>
            <li class="list-group-item">{{ post.date_posted|date:'Y.m.d' }}</li>
            <li class="list-group-item">{{ post.content }}</li>
        </ul>
        {% endfor %}

    </div>


    {% endblock body %}

</body>

</HTML>