{% load static %}

<!DOCTYPE html>
<HTML>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">MY APP</a>

        <ul class="nav justify-content-end">

            <!-- TODO Authenticateにより条件分岐 -->

            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'blog-home' %}">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">LOG OUT</a></li>
            <li class="nav-item"><a class="nav-link" href="#">PROFILE</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'blog-home' %}">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">SIGN UP</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">SIGN IN</a></li>
            {% endif %}


        </ul>

    </nav>


    {% block body %}

    {% endblock body %}


</body>

</HTML>